@import (reference) '~nav-frontend-core/less/_variabler';

@background-color-main: #f7f7f7;
@pagination-fontsize: 1rem;

.pagination-bar {
    width: 100%;
    margin-left: 1rem;

    &__wrapper {
        display: grid;
        grid-template-columns: 2fr 3fr 2fr;
        justify-content: center;
        background-color: @background-color-main;
        border-radius: 8px;
        padding: 0.125rem 0.5rem;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3.375rem;
    }

    &__steg-knapp {
        border-radius: 8px;
        color: black;
        float: left;
        padding: 0.5rem 1rem;
        text-decoration: none;
        background-color: @background-color-main;
        border: none;
        margin: 0 0.5rem;
        cursor: pointer;
        font-size: @pagination-fontsize;
        font-weight: 400;

        &--aktivsteg {
            background-color: @navBla;
            color: white;
            border-radius: 5px;
        }

        &:hover:not(&--aktivsteg) {
            background-color: #dddddd;
        }
    }

    &__sidevisning-valg-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__sidevisning-valgknapp {
        transform: rotateX(0deg);
        transition: ease-in-out;

        &--open {
            transition: ease-in-out;
            transform: rotateX(-180deg);
        }
    }

    &__visning-statestikk {
        display: flex;
        justify-content: center;
        margin-bottom: 0.25rem;
        & > p {
            &:nth-child(1),
            &:nth-child(2) {
                margin-right: 1.25rem;
            }
        }
    }

    &__visning-statestikk-data {
        margin-left: 0.5rem;
    }

    &__chevron-venstre,
    &__chevron-hoyre {
        border: none;
        background-color: @background-color-main;
        cursor: pointer;
        & > svg {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    &__chevron-venstre,
    &__chevron-hoyre {
        padding: 0.5rem 1rem;
        border-radius: 8px;
        &:hover {
            background-color: #ddd;
        }
    }

    &__chevron-venstre {
        margin-right: 0.25rem;
    }

    &__chevron-hoyre {
        margin-left: 0.25rem;
    }
    &__select-page {
        padding: 0.5rem 0 0.5rem 0.5rem;
        margin: 0 0.75rem 0 0.5rem;
    }
}
