.OversiktSide {
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 55rem;
    }

    &__filtermeny-status,
    &__filtermeny-tiltakstype {
        border: none !important;
    }

    @media (min-width: 768px) {
        padding: 0.75rem;

        &__wrapper {
            flex-direction: row;
        }
    }
}
