.menyInnhold {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &__radiovalg-av-bedrift {
        margin-top: 1.5rem;
    }

    &__liste-innhold {
        display: flex;
        min-width: 65%;
    }

    &__valgte-org-overskrift {
        margin-bottom: 0.75rem;
    }

    &__valgte-bedrifter {
        min-width: 11.5rem;
        margin-right: 0.5rem;
    }

    &__sokefelt {
        & > input {
            background-color: #f8f9fa; // #f0f2f5;
            border-radius: 8px;
            color: black; // #65676b;
            &::placeholder {
                color: rgba(0, 0, 0, 75%);
            }
        }
    }

    &__valgte-bedrifter-innhold {
        overflow-y: auto;

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            background-color: #f5f5f5;
        }

        &::-webkit-scrollbar {
            width: 12px;
            background-color: #f5f5f5;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 6px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #555;
        }
    }

    &__valgte-bedrifter-rad {
        box-shadow: rgba(17, 17, 26, 0.05) 0 1px 0, rgba(17, 17, 26, 0.1) 0 0 8px;
        display: flex;
        align-items: center;
        padding: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 2px;
        border-radius: 4px;
        width: calc(100% - 1rem);
    }

    &__ikon {
        margin-right: 0.5rem;
    }

    &__valgte-bedrifter-tekst {
        margin-bottom: 0.5rem;
    }
}
