.refusjonside {
    &__ingress {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }
    &__ingress-text {
        margin-bottom: 1rem;
    }

    &__ingress-text-refusjon {
        margin-bottom: 2rem;
    }

    &__inntekter-fra-tiltaket-boks {
        margin-top: 2rem;
        background-color: #ccf1d6;
        padding: 1em;
        border: 4px solid #99dead;
    }

    &__inntekter-kun-fra-tiltaket {
        > div {
            display: flex;
            column-gap: 0.5rem;

            label {
                flex-grow: 1;
                margin-right: 0.5rem;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    &__bruttolønn-utbetalt-for-periode {
        > input {
            width: 15%;
        }
    }

    &__fratrekk-sykepenger {
        margin-top: 2.5rem;
    }
    &__fratrekk-sykepenger-tittel,
    &__fratrekk-sykepenger-txt {
        margin-bottom: 1rem;
    }

    &__fratrekk-sykepenger-radiogroup > div {
        display: flex;
        margin-bottom: 0.5rem;
        column-gap: 0.5rem;
    }

    &__ny-frist {
        align-self: flex-end;
    }

    &__beløp-grunnet-fravær {
        margin-top: 1rem;

        > input {
            width: 15%;
        }
    }
}
