.refusjonside {
    &__ingress {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }
    &__ingress-text {
        margin-bottom: 2rem;
    }
}
